.container {
  margin-top: 15px;
  border-top: 2px solid rgb(195, 191, 191);
}
.title {
  margin-left: 45px;
}
.list {
  margin-bottom: 20px;
  margin-left: 30px;
}
.item {
  list-style: none;
  margin-bottom: 10px;
}
.link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.link:global(.active) {
  font-weight: 600;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 45px;
  padding: 7px;
  background-color: transparent;
  border: 1px solid rgb(129, 13, 13);
  border-radius: 3px;
}
.btn:hover {
  background-color: rgb(129, 13, 13);
  color: azure;
}
